PORT=3000
SESSIONS_COOKIE_NAME=switchyard
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
AUTOSCALE_SERVICE_URL=http://autoscale.switchyard:3000
FEATURE_FLAGS_SERVICE_URL=http://feature-flags.switchyard:3000
INCIDENT_REPORTING_SERVICE_URL=http://incident-reporting.switchyard:3000
SCHEDULER_SERVICE_URL=http://scheduler.switchyard:3000